.signature {
  font: 200% 'Arizonia', serif;
  color: #2b2b2b;
  position: absolute;
  text-align: right;
  bottom: 0;
  right: 0;
  margin-bottom: 1%;
  margin-right: 2%;
}

#searchfield {
  color: white;
}

.newtext {
  position: absolute;
  left: _px;
  top: _px;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #000000;
  margin-top: -8%;
  margin-left: -6px;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
