 .bar {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-radius: 0px;
    background-color: transparent;
    position: absolute;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 20px;
    z-index: 4;
  }

   .loader {
    top:25%;
    left: 25%;
    height: 20px;
    width: 50%;
    position: absolute;
    
    background-color: #ddd;
  }
  .loader:before{
    top:20%;
    display: block;
    position: absolute;;
    content: "";
    left: 0px;
    width: 200px;
    height: 20px;
    background-color: #2980b9;
    animation: loading 15s;
  }
  
  @keyframes loading {
      from {left: 0%; width: -30%;}
      50% {width: 50%;}
      70% {width: 70%;}
      80% {width: 80%;}
      to {width: 130%;}
  }