 .bar {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-radius: 0px;
    background-color: transparent;
    position: absolute;
    left: 334px;
    top: 258px;
    width: 649px;
    height: 19px;
    z-index: 4;
  }
  /*
  .barfilling {

    border-radius: 10px;
    background-color: rgb(2, 64, 134);
    position: absolute;
    left: 400px;
    top: 244px;
    width: 50px;
    height: 40px;
    z-index: 2;
    transform: sc
    translate()
  }
   */
   .loader {
    top:250px;
    left: 25%;
    height: 20px;
    width: 50%;
    position: relative;
    
    background-color: #ddd;
  }
  .loader:before{
    top:%25;
    display: block;
    position: relative;;
    content: "";
    left: 0px;
    width: 200px;
    height: 20px;
    background-color: #2980b9;
    animation: loading 15s;
  }
  
  @keyframes loading {
      from {left: 0%; width: -30%;}
      50% {width: 50%;}
      70% {width: 70%;}
      80% {width: 80%;}
      to {width: 130%;}
  }